* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: white;
  color: black;
}

a {
  color: blue;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

section {
  padding: 60px 20px;
  margin: auto;
  max-width: 1000px;
}

header {
  background-color: blue;
  color: white;
  padding: 15px 20px;
  top: 0;
  position: sticky;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav a {
  font-weight: bold;
  color: white;
}

nav a:hover {
  text-decoration: underline;
}

.start {
  height: 800px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  background-image: url(../img/kabaahajj.webp);
}

.start h2 {
  margin-bottom: 15px;
}

.learnbutton {
  background-color: white;
  color: black;
  font-weight: bold;
  margin-top: 200px;
  padding: 12px 24px;
  border-radius: 5px;
}

.content {
  background-color: white;
  box-shadow: 0 2px 10px lightgray;
  border-radius: 10px;
  padding: 40px 30px;
  margin: 20px auto;
}

.content h2 {
  color: blue;
  margin-top: 20px;
  font-size: 35px;
}

.content h3 {
  color: black;
  margin-top: 20px;
}

.content ol,
.content ul {
  padding-left: 20px;
  margin-top: 10px;
}

.contact-info a {
  text-decoration: none;
  color: black;
}

.contact-info a:hover {
  text-decoration: underline;
}

.content img {
  max-width: 100%;
}

@media (min-width: 600px) {
  .start h2 {
    font-size: 50px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}
